.glyphicon-search {
	font-size: 100px;
}

.gallery-icon {
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;
	box-shadow: 10px 10px 5px #888888;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
	border: 1px solid gray;
	padding: 8px;
	background-color: lightgray;
}

.picture-title {
	width: 270px;
	height: 30px;
	background-color: navy;
	color: white;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	display: inline-block;
	z-index: 2;
	margin-left: -285px;
	margin-top: 140px;
	position: relative;
	font-size: large;
}